{% load staticfiles %}

<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>&nbsp;&nbsp;&nbsp;My Accounts</strong></h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="{% url 'profile' request.user.username %}"><i class="fa fa-user"></i>Profile</a>
            </li>
            <li class="">
                <a href="{% url 'edit_designer' %}"><i class="fa fa-pencil"></i>Edit Profile</a>
            </li>
            <li>
                <a href="{% url 'change_password' %}"><i class="fa fa-lock"></i>Change Password</a>
            </li>
            <li>
                <a href="{% url 'upload_design' %}"><i class="fa fa-plus"></i>Upload Design</a>
            </li>
            <li>
                <a href="{% url 'design_requests_designer' %}"><i class="fa fa-bookmark" aria-hidden="true"></i>Design Request {% if request_counter > 0 %}<span class="badge" style="background-color: red;">{{request_counter}}{% endif %}</span></a>
            </li>
            <li class="{% if current == 'design_detail' %}active{% endif %}">
                <a href="{% url 'my_designs' %}"><i class="fa fa-list"></i>My Designs</a>
            </li>
            <li>
                <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
            </li>
        </ul>
    </div>
</div>