{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
    body{
        background-image: url({% static 'images/background_profile.jpg' %});
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style> 
<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb profile-block" style="margin-top: -5px;">
            <li><a href="/">Home</a>
            </li>
            <li>My Designs</li>
        </ul>
    </div>
    <div class="col-md-3" style="margin-top: 10px">
        {% include "designer/base_designer.html" %}
    </div>
    <div class="col-md-9" id="wishlist" style="margin-top: 10px">
        <div class="row products box">
            {% for designs in design_list  %}
                <div class="col-md-4 col-sm-4 img-hover" id="id_{{ designs.id }}">
                    <div class="profile-block">
                        <a href="{% url 'design_details' designs.id %}" style="text-decoration: none; cursor: pointer; color: black;">
                            <img src="{% if designs.avatar %}{{ designs.avatar.url }}{% endif %}" alt="" class="img-responsive" style="height: 300px; width: 350px; margin-bottom: 20px; border-radius: 5px;">
                            <h5><strong>{{ designs.name|title }}</strong> <i class="fa fa-rupee" style="font-size: 14px; float: right;">{{ designs.price }}</i></h5>
                            <h5><strong>Size :-</strong>
                                {% for size in designs.size.all %}
                                    {{ size.name }}
                                {% endfor %}
                                {% if designs.stock %}
                                    <img src="{% static 'images/instock.png' %}" height="20" width="20" style="float: right; margin-right: 3px;">
                                {% else %}
                                    <img src="{% static 'images/close.png' %}" height="20" width="20" style="float: right; margin-right: 3px;">
                                {% endif %}  
                            </h5>
                          	<div style="margin-top: 20px;">
                          		<a href="{% url 'edit_design' designs.id %}"><span style="float: left;"><i class="fa fa-pencil" style="color: grey; font-size: 18px;"></i></span></a>
	                            <span style="float: right; color: red; font-size: 18px; cursor: pointer;"><i class="fa fa-trash-o" aria-hidden="true" onclick="delete_notify({{ designs.id }})"></i></span>
	                            <br>
                          	</div>
                        </a>
                    </div>
                </div>
            {% empty %}
                <h3 class="text-center text-muted" style="color: lightgrey">No Design has been uploaded Yet</h3>
            {% endfor %}        
        </div>
    </div>
</div> 

<div id="id_delete_modal" class="modal fade" tabindex="-1" role="dialog" style="margin-top: 100px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Notification</h4>
            </div>
            <div class="modal-body">
                <p id="id_delete_message"></p>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="width: 100px;">Close</button>
                </div>
                <div class="pull-right">
                    <button id="id_delete_confirm" type="button" class="btn btn-primary pull-right" style="width: 100px;">Delete</button>            
                </div>
            </div>
        </div>
   </div>
</div>   

{% endblock %}

{% block javascript %}


    <script type="text/javascript">

        function delete_notify(design_id) {
            $("#id_delete_confirm").attr("onclick", "delete_design(" + design_id + ")");
            $("#id_delete_message").text("Do you really want to this designs?");
            $("#id_delete_modal").modal("show");
        }

        function delete_design(design_id) {
            $("#id_processing").show();
            $.ajax({
                url: "/designer/delete-designs/",
                type: "GET",
                data: {
                    'design_id' : design_id,
                },
                success: function(response){
                    debugger;
                    response = JSON.parse(response);
                    if (response.status) {
                        $("#id_processing").hide();
                        $("#id_delete_modal").modal("hide");
                        $("#id_"+design_id).remove();
                    }
                }
            });
        return false;
       }
    </script>

{% endblock %}
