{% extends 'base.html' %}
{% load staticfiles %}

{% block content %} 
<style type="text/css">
    body{
        background-image: url({% static 'images/background_profile.jpg' %});
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style> 

<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb profile-block" style="margin-top: -5px;">
            <li><a href="/">Home</a>
            </li>
            <li>Design Request</li>
        </ul>
    </div>
    <div class="col-md-3" style="margin-top: 10px">
        {% include "designer/base_designer.html" %}
    </div>
    <div class="col-md-9" style="margin-top: 10px;">
        <div class="box" style="background-color: #f5f5f5;">
            {% for request in all_requests %}
                <div class="article-card" style="padding: 13px; margin-bottom: 15px">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{ request.design_image.url }}" style="height: 200px; width: 170px;"><br>
                            <div style="margin-top: 5px;">
                                <label><b>Requested Size :</b></label>{% for size in request.size.all %} {{ size.name }} {% if not forloop.last %},{% endif %} {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label><b>Title :</b></label> {{ request.title }}
                            <p class="description_truncate" style="text-align: justify;"><label><b>Description:</b></label>{{ request.description }}</p>
                        </div>
                        <div class="col-md-4">
                            <p>
                                <label><b>Requested Date :</b>&nbsp;<span class="text-muted">{{ request.created|date:"M d, Y" }}</span></label>
                            </p>
                            <span class="tag label label-info" style="font-size: 15px;">Requested Price: <i class="fa fa-rupee"> </i>{{ request.price }}</span><br>
                            <p style="margin-top: 15px; font-size: 18px;">
                                <label><b>Order Status</b></label>
                            </p>
                            {% if request.request_status == "Pending" %}
                            <button id="accpet" type="button" class="btn btn-success" onclick="accpetRequest({{ request.id }})">Accept</button>
                            <button type="button" id="reject" class="btn btn-danger" onclick="reject_notify({{ request.id }})">Reject</button>
                            <img id="updating" src="{% static 'images/spin1.svg' %}"/ style="height: 25px; margin-top: -1px; margin-left: 10px; display: none;"></strong></h4>
                            {% elif request.request_status == "Accepted" %}
                                <span class="tag label label-info" style="font-size: 15px;">{{ request.request_status }}</span>
                            {% elif request.request_status == "Rejected" %}
                                <span class="tag label label-danger" style="font-size: 15px;">{{ request.request_status }}</span>
                                <div style="margin-top: 20px; text-align: justify; color: grey;">
                                    <small><b>Reason:</b>&nbsp{{ request.reject_reason }}</small>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: -22px;">
                            <small class="text-muted pull-right hidden-xs" style="margin-right: 73px;"><b>Requested By: {{ request.buyer }}</b></small>
                            <small class="text-muted pull-right visible-xs"><b>Requested By: {{ request.buyer }}</b></small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>    
    </div>
</div>

<div class="modal fade" id="id_reject_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 100px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Submit a Reason</h4>
            </div>
            <div class="modal-body">
                <div class="row paddingtop-20">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                            	<textarea class="form-control" name="reason" rows="4" id="id_reject_reason"></textarea>
                                <small id="id_reason_error" class="es-error"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer paddingtop-20">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" style="width: 80px;">Close</button>
                <input type="submit" id="id_confirm" class="btn btn-primary btn-sm" value="Submit" style="width: 80px; float: right;">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    $(document).ready(function(){

    	$('#id_reject_reason').on('input',function(e){
		    $("#id_reason_error").hide();
		});
	});

    function accpetRequest(id){
        $('#accpet').addClass('disabled');
        $("#reject").addClass('disabled');
        $("#updating").show();
        $.ajax({
            url: "{% url 'accept_reject_request' %}",
            type: "POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'request_id' : id,
                'action': 'accpetRequest',
            },
            success :function(response){
                response = JSON.parse(response);
                if (response.status){
                    $("#updating").hide();
                    location.reload(true);
                }
            }
        });
        return false;
    }

    function reject_notify(id) {
        $("#id_confirm").attr("onclick", "rejectRequest(" + id + ")");
        $("#id_reject_modal").modal("show");
    }

    

    function rejectRequest(id) {
        $.ajax({
            url: "{% url 'accept_reject_request' %}",
            type: "POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'request_id' : id,
                'reason' : $("#id_reject_reason").val(),
                'action': 'rejectRequest',
            },
            success :function(response){
                response = JSON.parse(response);
                if (response.status){
                    location.reload(true);
                }else{
                	$("#id_reason_error").text(response.text);
    			    $("#id_reason_error").show();
                }
            }
        });
        return false;
    }
        
    </script>

{% endblock %}
