{% extends 'base.html' %}
{% load staticfiles %}

{% block javascript %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 hidden-xs">
                <div class="col-sm-3" style="text-align: justify;">
                    <a href="/all-designs/?gender=Men"><img src="{% static 'images/men.jpg' %}" style="height: 150px; min-width: 100%; border-radius: 50%"></a>
                    <h4 class="text-center"><strong>Shop for Men</strong></h4>
                </div>
                <div class="col-sm-3">
                    <a href="/all-designs/?gender=Women"><img src="{% static 'images/women.jpg' %}" style="height: 150px; min-width: 100%; border-radius: 50%"></a>
                    <h4 class="text-center"><strong>Shop for Women</strong></h4>
                </div>
                <div class="col-sm-3">
                    <a href="/all-designs/?gender=Boys&gender=Girls"><img src="{% static 'images/kids.jpg' %}" style="height: 150px; min-width: 100%; border-radius: 50%"></a>
                    <h4 class="text-center"><strong>Shop for Kids</strong></h4>
                </div>
                <div class="col-sm-3">
                    <a href="/all-designs/"><img src="{% static 'images/latest.jpg' %}" style="height: 150px; min-width: 100%; border-radius: 50%"></a>
                    <h4 class="text-center"><strong>Latest Design</strong></h4>
                </div>
            </div>
            <div class="col-xs-12 visible-xs">
                <div class="col-xs-3 img-hover">
                    <h6 class="text-center"><strong>Men</strong></h6>
                    <a href="/all-designs/?gender=Men"><img src="{% static 'images/men.jpg' %}" style="height: 60px; width: 67px;border-radius: 50%"></a>
                </div>
                <div class="col-xs-3 img-hover">
                    <h6 class="text-center"><strong>Women</strong></h6>
                    <a href="/all-designs/?gender=Women"><img src="{% static 'images/women.jpg' %}" style="height: 60px; width: 67px;border-radius: 50%"></a>
                </div>
                <div class="col-xs-3 img-hover">
                    <h6 class="text-center"><strong>Kids</strong></h6>
                    <a href="/all-designs/?gender=Boys&gender=Girls"><img src="{% static 'images/kids.jpg' %}" style="height: 60px; width: 67px;border-radius: 50%"></a>
                </div>
                <div class="col-xs-3 img-hover">
                    <h6 class="text-center"><strong>Kids</strong></h6>
                    <a href="/all-designs/"><img src="{% static 'images/latest.jpg' %}" style="height: 60px; width: 67px;border-radius: 50%"></a>
                </div>
            </div>      
        </div><br>
        <div class="col-md-12">
            <div id="main-slider">
                <div class="item">
                    <img class="img-responsive" src="{% static 'images/extra/main-slider1.jpg' %}" alt="" style="width: 100%">
                </div>
                <div class="item">
                    <img class="img-responsive" src="{% static 'images/extra/main-slider2.jpg' %}" alt="" style="width: 100%">
                </div>
                <div class="item">
                    <img class="img-responsive" src="{% static 'images/extra/main-slider3.jpg' %}" alt="" style="width: 100%">
                </div>
                <div class="item">
                    <img class="img-responsive" src="{% static 'images/extra/main-slider4.jpg' %}" alt="" style="width: 100%">
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="width: 87%">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <h1 class="text-center hidden-xs">HOT THIS WEEK</h1>
                    <h4 class="text-center visible-xs">HOT THIS WEEK</h1>
                </div>
            </div>
        </div>    
    </div>
    <div class="container" style="width: 87%">
        <div class="row">  
            <div class="col-sm-12 col-xs-12">
                <div class="text-center row">
                    <h3>Our Best Designs</h3>
                    <p class="lead">Create your Own Style let it be unique for yourself and indentifiable for others.</p>
                    {% for designs in all_designs %}
                        <div class="col-sm-2 img-hover hidden-xs">
                            <a href="{% url 'product_details' designs.name|slugify designs.id %}" style="text-decoration: none; cursor: pointer; color: black;">
                                <img src="{% if designs.avatar %}{{ designs.avatar.url }}{% else %}{% static 'images/nodp.jgp' %}{% endif %}" alt="" class="img-responsive" style="height: 250px; width: 200px; margin-bottom: 20px;">
                            </a>
                        </div>
                        <div class="col-xs-4 img-hover visible-xs">
                            <a href="{% url 'product_details' designs.name|slugify designs.id %}" style="text-decoration: none; cursor: pointer; color: black;">
                                <img src="{% if designs.avatar %}{{ designs.avatar.url }}{% else %}{% static 'images/nodp.jgp' %}{% endif %}" alt=""  style="height: 150px; width: 100px; margin-bottom: 20px;">
                            </a>
                        </div>
                    {% empty %}
                        <h3 class="text-center text-muted" style="color: lightgrey">No Design has been uploaded Yet</h3>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>    
    
    <!-- <div id="hot">
        <div class="container">
            <div class="product-slider">
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="{% static 'images/extra/product1.jpg' %}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="{% static 'images/extra/product1_2.jpg' %}" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="{% static 'images/extra/product1.jpg' %}" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                            <p class="price">$143.00</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="{% static 'images/extra/product1.jpg' %}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="{% static 'images/extra/product1_2.jpg' %}" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="{% static 'images/extra/product1.jpg' %}" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="detail.html">White Blouse Armani</a></h3>
                            <p class="price"><del>$280</del> $143.00</p>
                        </div>

                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <div class="ribbon gift">
                            <div class="theribbon">GIFT</div>
                            <div class="ribbon-background"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="{% static 'images/extra/product3.jpg' %}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="{% static 'images/extra/product3_2.jpg' %}" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="{% static 'images/extra/product3.jpg' %}" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="detail.html">Black Blouse Versace</a></h3>
                            <p class="price">$143.00</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="{% static 'images/extra/product3.jpg' %}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="{% static 'images/extra/product3_2.jpg' %}" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="{% static 'images/extra/product3.jpg' %}" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="detail.html">Black Blouse Versace</a></h3>
                            <p class="price">$143.00</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="{% static 'images/extra/product2.jpg' %}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="{% static 'images/extra/product2_2.jpg' %}" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="{% static 'images/extra/product2.jpg' %}" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="detail.html">White Blouse Versace</a></h3>
                            <p class="price">$143.00</p>
                        </div>
                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container" data-animate="fadeInUpBig">
        <div class="col-md-12">
            <div class="box slideshow">
                <h3>Get Inspired</h3>
                <p class="lead">Get the inspiration from our world class designers</p>
                <div id="get-inspired" class="owl-carousel owl-theme">
                    <div class="item">
                        <a href="#">
                            <img src="{% static 'images/extra/getinspired1.jpg' %}" alt="Get inspired" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="{% static 'images/extra/getinspired2.jpg' %}" alt="Get inspired" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="{% static 'images/extra/getinspired3.jpg' %}" alt="Get inspired" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="width: 87%">
        <div class="row">
            <div class="col-md-12">
                <div class="box text-center" data-animate="fadeInUp">
                    <h3 class="text-uppercase">From our blog</h3>
                    <p class="lead">What's new in the world of fashion? <a href="{% url 'blog' %}">Check our blog!</a>
                    </p>
                </div>
            </div>
        </div>    
    </div>
    <div class="container">
        <div class="col-md-12" data-animate="fadeInUp">
            <div id="blog-homepage" class="row">
                <div class="col-sm-6">
                    <div class="post">
                        <h4><a href="{% url 'blog' %}">Fashion now</a></h4>
                        <p class="author-category">By <a href="{% url 'blog' %}">Rachna Tomar</a> in <a href="{% url 'blog' %}">Fashion and style</a>
                        </p>
                        <hr>
                        <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                            ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                        <p class="read-more"><a href="{% url 'blog' %}" class="btn btn-primary">Continue reading</a>
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="post">
                        <h4><a href="{% url 'blog' %}">Who is who - example blog post</a></h4>
                        <p class="author-category">By <a href="{% url 'blog' %}">Rachna Tomar</a> in <a href="{% url 'blog' %}">About Minimal</a>
                        </p>
                        <hr>
                        <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                            ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                        <p class="read-more"><a href="{% url 'blog' %}" class="btn btn-primary">Continue reading</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
