{% extends 'base.html' %}
{% load staticfiles %}

{% block content %} 
<style type="text/css">
    body{
        background-image: url({% static 'images/background_profile.jpg' %});
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style> 

<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb profile-block" style="margin-top: -5px;">
            <li><a href="/">Home</a>
            </li>
            <li>Profile</li>
        </ul>
    </div>
    <div class="col-md-3" style="margin-top: 10px">
        {% include "designer/base_designer.html" %}
    </div>
    <div class="col-md-9" style="margin-top: 10px;">
        <div class="box">
        	<div class="row">
	        	<div class="col-md-3">
	        		<div class="profile-block">
	        			<img src="{% if designer.avatar %}{{ designer.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" height="200" width="140" style="border-radius: 5px;">
	        		</div>
	        	</div>
	        	<div class="col-md-9" style="font-family: times">
	        		<h2>About me<a href="{% url 'upload_design' %}"><button class="btn btn-primary btn-sm" style="float: right;"><i class="fa fa-plus"></i>Upload Design</button></a></h2>
	        		<hr style="margin-top: -12px; border-color: #02a9e7">
	        		<p style="text-align: justify; line-height: 20px; word-spacing: 5px;">{{ designer.bio }}</p>
	        	</div>
	        </div>	
        </div>
    </div>
</div>    

{% endblock %}