{% extends 'base.html' %}
{% load staticfiles %}

{% block content %} 
    <style type="text/css">
        body{
            background-image: url({% static 'images/background_regis.jpg' %});
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style> 
    <div class="container">
        <div class="col-md-8">
            <div class="box">
                <form id="signup_form" role="form" method="post" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                     <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="id_avatar"><strong>Avatar</strong></label>
                                <div id="id_avatar_img" style="cursor: pointer;" class="avatar_img">
                                    <img src="{% static 'images/nodp.jpg' %}" alt="Cinque Terre">
                                </div>
                                {{ form.avatar }}
                                <small class="es-error">{{ form.avatar.errors.as_text }}</small>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
                                <label for="id_first_name"><strong>First Name</strong></label>
                                {{ form.first_name }}
                                <small class="es-error">{{ form.first_name.errors.as_text }}</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
                                <label for="id_last_name"><strong>Last Name</strong></label>
                                {{ form.last_name }}
                                <small class="es-error">{{ form.last_name.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                <label for="id_email"><strong>Email</strong></label>
                                {{ form.email }}
                                <small class="es-error">{{ form.email.errors.as_text }}</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group {% if form.phone_no.errors %}has-error{% endif %}">
                                <label for="id_phone_no"><strong>Phone No</strong></label>
                                {{ form.phone_no }}
                                <small class="es-error">{{ form.phone_no.errors.as_text }}</small>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group {% if form.street1.errors %}has-error{% endif %}">
                                <label for="id_street1"><strong>Address</strong> </label>
                                {{ form.street1 }}
                                <small class="es-error">{{ form.street1.errors.as_text }}</small>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group {% if form.city.errors %}has-error{% endif %}">
                                <label for="id_city"><strong>City</strong></label>
                                {{ form.city }}
                                <small class="es-error">{{ form.city.errors.as_text }}</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group {% if form.state.errors %}has-error{% endif %}">
                                <label for="id_phone_no"><strong>State</strong></label>
                                {{ form.state }}
                                <small class="es-error">{{ form.state.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group {% if form.postal_code.errors %}has-error{% endif %}">
                                <label for="id_postal_code"><strong>Postal Code</strong></label>
                                {{ form.postal_code }}
                                <small class="es-error">{{ form.postal_code.errors.as_text }}</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group {% if form.country.errors %}has-error{% endif %}">
                                <label for="id_country"><strong>Country</strong></label>
                                {{ form.country }}
                                <small class="es-error">{{ form.country.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group {% if form.identity_document.errors %}has-error{% endif %}">
                                <label for="id_identity_document"><strong>Identity Document</strong></label>
                                {{ form.identity_document }}
                                <small class="es-error">{{ form.identity_document.errors.as_text }}</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group {% if form.gender.errors %}has-error{% endif %}">
                                <label for="id_phone_no"><strong>Gender</strong></label>
                                {{ form.gender }}
                                <small class="es-error">{{ form.gender.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>     
                    <div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Register</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <h3>Terms And Contidions</h3>
                <hr>

                <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
                <p class="text-muted">If you have any questions, please feel free to <a href="{% url 'contact_us' %}">contact us</a>, our customer service center is working for you 24/7.</p>
                <hr>
            </div>
        </div>
    </div> 
    
{% endblock %}

{% block javascript %}


    <script type="text/javascript">
        msg = "This field is required."

        $("#id_phone_no").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        
        $("#id_avatar").on('change', function () {
            var image_holder = $("#id_avatar_img");
            image_holder.empty();
            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result
                }).appendTo(image_holder);

            }
            image_holder.show();
            $("#id_default_avatar").val("");

            $("#image_error").hide();
            reader.readAsDataURL($(this)[0].files[0]);
        });

        $("#id_avatar").css("display", "none");
        $("#id_avatar_img").on("click", function(){
            $("#id_avatar").trigger("click");
        });
        $('#id_avatar').change(function () {
            var ext = this.value.match(/\.(.+)$/)[1];
            switch (ext) {
                case 'jpg':
                case 'jpeg':
                case 'png':
                case 'gif':
                    $('#uploadButton').attr('disabled', false);
                    break;
                default:
                    alert('This is not an allowed file type.');
                    this.value = '';
                    location.reload();
            }
        });


    </script>

{% endblock %}
