{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="col-md-6 col-md-offset-3" style="margin-top: 30px;">
        <div class="row">
            <h4><strong>Email Sent</strong></h4>
            <hr style="margin-top: -5px;">
            <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
            <p>You should be receiving it shortly</p>
            <p>To visit the Fashion Evolution, please <a href="/">click here</a></p>
        </div>
    </div>
</div>                
            

{% endblock %}
