{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
 <style type="text/css">
    body{
        background-image: url({% static 'images/background_regis.jpg' %});
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style> 
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="box">
            <div class="row">
                <form id="login_form" method="post" style="color: black; margin-top: 20px;">
                    {% csrf_token %}
                    {% if form.non_field_errors and not form.email.errors %}
                        <small class="es-error">{{ form.non_field_errors.as_text }}</small>
                    {% elif error_message %}
                        <small class="es-error">{{ error_message }}</small>
                    {% endif %}
                    <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <label for="id_email" class="control-label"><h5><strong>Email:</strong></h5></label>
                            {{ form.email }}
                            <small><div class="help-block with-errors"></div></small>
                            <small class="es-error">{{ form.email.errors.as_text }}</small>
                        </div>
                    </div>
                    <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <label for="id_password" class="control-label"><h5><strong>Password:</strong></h5></label>
                            {{ form.password }}
                            <small><div class="help-block with-errors"></div></small>
                            <small class="es-error">{{ form.password.errors.as_text }}</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="clearfix">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                                <a href="{% url 'forget_password' %}" style="float: right">Forgot Password ?</a>

                            </div>
                        </div>
                    </div>
                </form>
            </div> 
        </div>
    </div>    
</div>
{% endblock %}