{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Reset Password{% endblock %}


{% block content%}
     <style type="text/css">
        body{
            background-image: url({% static 'images/background_regis.jpg' %});
        }
    </style>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="box"> 
                <div class="row">
                    <div class="col-md-12">
                        <h5>Forgot Password</h5>
                        <div class="text-subline"></div>
                    </div>
                </div>
                <form class="form-horizontal" id="user_iden" method="post" style="color: black; margin-top: 20px;">
                    {% csrf_token %}
                    <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <label for="id_email" class="control-label"><h5><strong>Email</strong></h5></label>
                            <input id="id_email" type="text" class="form-control" name="email" placeholder="Email" aria-describedby="basic-addon1">
                            <small><div class="help-block with-errors"></div></small>
                            <small class="es-error">{{ form.email.errors.as_text }}</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="clearfix">
                                <input class="btn btn-primary btn-md" type="submit" value="Reset Password"/>
                                <div class="pull-right" style="margin-top: 20px;">
                                    <a href="{% url 'user_login' %}"><strong>Login</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>            
                  
{% endblock %}

{% block javascript %}
    
   
   
{% endblock %}

