{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}
{% load staticfiles %}


{% block content %}
   
 <div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="box"> 
            <form id="res_pass" class="form-horizontal" method="post" style="color: black; ">
                {% csrf_token %}
                
                <div class="form-group {% if form.new_password.errors %}has-error{% endif %}">
                    <div class="col-md-12">
                        <label for="id_new_password" class="control-label"><h5><strong>New Password:</strong></h5></label>
                        {{ form.new_password }}
                        <small class="es-error">{{ form.new_password.errors.as_text }}</small>
                    </div>
                </div>
                <div class="form-group {% if form.confirm_password.errors %}has-error{% endif %}">
                    <div class="col-md-12">
                        <label for="id_confirm_password" class="control-label"><h5><strong>Confirm Password:</strong></h5></label>
                        {{ form.confirm_password }}
                        <small class="es-error">{{ form.confirm_password.errors.as_text }}</small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="clearfix">
                            <div>
                                <input class="btn btn-primary btn-md" type="submit" value="Reset Password"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>    

                  
    
   
{% endblock %}

{% block javascript %}

{% endblock %}

