.profile-block {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.20);
    margin-bottom: 10px;
    margin-top: 10px;

}

.es-error{
  color: #a94442;

}

.mob_design_img{
    width: 312px;
    height: 189px;
    overflow: hidden;
    text-align: center;
    position: relative;
    border-radius: 5px;
}

.mob_design_img > img {
    border-radius: 5px;
    position: absolute;
    height: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.design_img {
    width: 780px;
    height: 385px;
    overflow: hidden;
    text-align: center;
    position: relative;
    border-radius: 5px;
}
.design_img > img {
    border-radius: 5px;
    position: absolute;
    height: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}


.avatar_img {
    overflow: hidden;
    text-align: center;
    width: 135px;
    height: 130px;
    position: relative;
    border-radius: 5px;
}


.avatar_img > img {
  border-radius: 5px;
    position: absolute;
    left: 50%;
    margin-right: 144px;
    height: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.06); /* Safari and Chrome */
    -moz-transform:scale(1.06); /* Firefox */
    -ms-transform:scale(1.06); /* IE 9 */
    -o-transform:translatZ(0) scale(1.06); /* Opera */
    transform:translatZ(0) scale(1.06);
}
  
  
.grayscale {
  -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
  -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
  filter: brightness(1.10) grayscale(100%); 
}


.modal-overlay {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal-overlay img {
    position: relative;
    top: 200px;
}
.mymultiselect{
    min-width: 377px;
    height: 43px!important;
}
.btn-circle-n {
  border-color: lightgrey;  
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 32px;
}
.btn-circle-y {
  border-color: red;  
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 32px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.tt-input{
    margin-top: 5px!important;
}
.p-left-image{
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
    cursor: pointer;
}
.p-main-image{
    cursor: pointer;
    border-radius: 0.5px;
    min-width: 100%;
    min-height: 440px; 
    max-height: 440px;
    border-color: lightgrey;
}
.cart-btn{
   background-color: #ff9f00!important; 
   border-color: #ff9f00!important; 
   border-radius: 0px; 
   font-size: 13px;
   height: 50px;

}

.buy-btn{
   background-color: #fb641b!important; 
   border-color: #fb641b!important; 
   border-radius: 0px; 
   font-size: 13px;
   height: 50px;

}

.top-20{
    margin-top: 20px;
}
.fav-btn-y{
    color:red; 
    font-size: 18px; 
    margin-top: 6px!important; 
    margin-left: 5px!important;
}
.fav-btn-n{
    color:lightgrey; 
    font-size: 18px; 
    margin-top: 6px!important; 
    margin-left: 5px!important;
}
.article-card {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 34px 34px 0 34px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  @media screen and (max-width: 767px) {
    .article-card {
      margin-left: -15px;
      margin-right: -15px; } }

.review-header{
    margin-top: 30px;
    background-color: #fb641b!important; 
    color: #fff; 
    padding-top: 10px; 
    height: 45px; 
    text-align: center; 
    border-radius: 3px; 
    font-size: 22px;
}
.custom-btn{
    background-color: #fb641b!important; 
    border-color: #fb641b!important; 
    border-radius: 1px; 
    color: #fff;
}

@media screen and (max-width: 768px) {
    
    #id_avatar_img {
      margin-left: 26px!important;
    }
    #id_image_detail{
        width: 51%!important;
        margin-left: 20px!important;
    }
    .cart-btn{
        font-size: 10px!important;
    }
    .buy-btn{
        font-size: 10px!important;
    }
}

#image_block.fixed {
  position: fixed;
}

#image_block.absolute {
  position: absolute;
  left: 15px;
}


.design_img {
    overflow: hidden;
    text-align: center;
    width: 300px;
    height: 430px;
    position: relative;
    border-radius: 5px;
}


.design_img > img {
  border-radius: 5px;
    position: absolute;
    left: 50%;
    margin-right: 144px;
    height: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}