{% load staticfiles %}

<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>&nbsp;&nbsp;&nbsp;My Accounts</strong></h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="{% url 'buyer_profile' request.user.username %}"><i class="fa fa-user"></i>Profile</a>
            </li>
            <li class="{% if current == 'edit' %}active{% else %}inactive{% endif %}">
                <a href="{% url 'edit_buyer' %}"><i class="fa fa-pencil"></i>Edit Profile</a>
            </li>
            <li>
                <a href="{% url 'change_password' %}"><i class="fa fa-lock"></i>Change Password</a>
            </li>
            <li>
                <a href="{% url 'my_recent_views' %}"><i class="fa fa-eye"></i>Recently Viewed</a>
            </li>
            <li>
                <a href="{% url 'my_favorites' %}"><i class="fa fa-heart" aria-hidden="true"></i>My Favorites Design</a>
            </li>
            <li>
                <a href="{% url 'requested_design' %}"><i class="fa fa-bookmark" aria-hidden="true"></i>Design Request</a>
            </li>
            <li>
                <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
            </li>
        </ul>
    </div>
</div>