{% extends 'base.html' %}
{% load staticfiles %}

{% block content %} 
<style type="text/css">
    @media screen and (min-width: 991px) {
        .multiselect{
            min-height: 44px;
            min-width: 470px;
        }
    }
</style>

<div class="container">
    <form id="signup_form" role="form" method="post" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="box">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div id="id_avatar_img" style="cursor: pointer;" class="design_img" style="height: 400px;">
                            <img src="{% static 'images/blank_design.jpg' %}" alt="Cinque Terre">
                        </div>
                        {{ form.design_image }}
                        <small class="es-error">{{ form.design_image.errors.as_text }}</small>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="form-group">
                            <div class="{% if form.title.errors %}has-error{% endif %}">
                                <label for="id_title"><strong>Title</strong></label>
                                {{ form.title }}
                                <small class="es-error">{{ form.title.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="{% if form.size.errors %}has-error{% endif %}">
                                <label for="id_title"><strong>Size</strong></label><br>
                                {{ form.size }}
                                <small class="es-error">{{ form.size.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="{% if form.description.errors %}has-error{% endif %}">
                                <label for="id_description"><strong>Description</strong></label>
                                {{ form.description }}
                                <small class="es-error">{{ form.description.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="{% if form.designer.errors %}has-error{% endif %}">
                                <label for="id_designer"><strong>Select Designer</strong></label>
                                {{ form.designer }}
                                <small class="es-error">{{ form.designer.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="{% if form.price.errors %}has-error{% endif %}">
                                <label for="id_price"><strong>Price</strong></label>
                                {{ form.price }}
                                <small class="es-error">{{ form.price.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-8 col-md-2">
                    <input type="submit" class="btn btn-primary" id="uploadButton" value="Submit" style="float: right;">
                </div>    
            </div>
        </div>
    </form>
</div>    

{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" type="text/css"/>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_size').multiselect();
            $("#id_size").on('change',function(e){
                if( $(this).val() !== null ){
                    $("#id_size").closest('.form-group').removeClass('has-error');
                    $("#id_size").closest('.form-group').find('.es-error').hide();
                }else{
                    $("#id_size").closest('.form-group').addClass('has-error');
                    $("#id_size").closest('.form-group').find('.es-error').show();
                }
                
            });
       
        });

        $("#id_price").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        
        $("#id_design_image").on('change', function () {
            var image_holder = $("#id_avatar_img");
            image_holder.empty();
            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result
                }).appendTo(image_holder);

            }
            image_holder.show();
            $("#id_default_avatar").val("");

            $("#image_error").hide();
            reader.readAsDataURL($(this)[0].files[0]);
        });

        $("#id_design_image").css("display", "none");
        $("#id_avatar_img").on("click", function(){
            $("#id_design_image").trigger("click");
        });
        $('#id_design_image').change(function () {
            var ext = this.value.match(/\.(.+)$/)[1];
            switch (ext) {
                case 'jpg':
                case 'jpeg':
                case 'png':
                case 'gif':
                    $('#uploadButton').attr('disabled', false);
                    break;
                default:
                    alert('This is not an allowed file type.');
                    this.value = '';
                    location.reload();
            }
        });
    </script>

{% endblock %}
