{% extends 'base.html' %}
{% load staticfiles %}

{% block content %} 
<style type="text/css">
    body{
        background-image: url({% static 'images/background_profile.jpg' %});
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style> 

<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb profile-block" style="margin-top: -5px;">
            <li><a href="/">Home</a>
            </li>
            <li>My Favorite Designs</li>
        </ul>
    </div>
    <div class="col-md-3" style="margin-top: 10px">
        {% include "buyer/base_buyer.html" %}
    </div>
    <div class="col-md-9" style="margin-top: 10px;">
        <div class="row">
        <div class="box">
            <div class="row products">
                {% for designs in buyer.favorite_design.all  %}
                    <div class="col-md-3 col-xs-6 col-sm-6 img-hover" style="margin-bottom: 34px;">
                        <div style="text-align: center;">
                            <a href="{% url 'product_details' designs.name|slugify designs.id %}" style="text-decoration: none; cursor: pointer; color: black;">
                                <img src="{% if designs.avatar %}{{ designs.avatar.url }}{% endif %}" alt="" class="img-responsive" style="height: 200px; width: 181px; margin-bottom: 20px; border-radius: 1px;">
                                <h6><strong>{{ designs.name|title }}</strong></h6>
                                <h6><i class="fa fa-rupee"></i>{{ designs.price }}</h6>
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <div class="text-center">
                        <h3 class="text-center text-muted" style="color: lightgrey">No Design added to Favorite yet</h3>
                        <a href="{% url 'fashion_home' %}" style="text-align: center; text-decoration: none;">Visit Our Website</a>
                    </div>    
                {% endfor %}        
            </div>
        </div>
    </div>
    </div>
</div>    

{% endblock %}