{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="col-md-9" id="checkout">
        <div class="box">
            <form method="post" action="{% url 'get_delivery_address' %}">
                {% csrf_token %}
                <h2>Checkout</h2>
                <div class="content">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="firstname">Firstname</label>
                                <input type="text" class="form-control" name="first_name" id="first_name" value="{% if request.POST.first_name %}{{ request.POST.first_name }}{% else %}{% if buyer.user.first_name %}{{ buyer.user.first_name }}{% endif %}{% endif %}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="lastname">Lastname</label>
                                <input type="text" class="form-control" name="last_name" id="last_name" value="{% if request.POST.last_name %}{{ request.POST.last_name }}{% else %}{% if buyer.user.last_name %}{{ buyer.user.last_name }}{% endif %}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="company">email</label>
                                <input type="email" class="form-control" value="{{ buyer.user.email }}"  id="email" readonly="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="street">Phone No</label>
                                <input type="text" class="form-control" name="phone_no" id="phone_no" value="{% if request.POST.phone_no %}{{ request.POST.phone_no }}{% else %}{% if buyer.phone_no %}{{ buyer.phone_no }}{% endif %}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="company">Address</label>
                                <textarea rows="3" cols="5" id='address' name="address" maxlength="250" class="form-control" required>{% if request.POST.address %}{{ request.POST.address }}{% else %}{% if buyer.address %}{{ buyer.address }}{% endif %}{% endif %}</textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" name="city" id="city" value="{% if request.POST.city %}{{ request.POST.city }}{% else %}{% if buyer.city %}{{ buyer.city }}{% endif %}{% endif %}">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" name="state" id="state" value="{% if request.POST.state %}{{ request.POST.state }}{% else %}{% if buyer.state %}{{ buyer.state }}{% endif %}{% endif %}">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label for="postal_code">Postal Code</label>
                                <input type="text" class="form-control" name="postal_code" id="postal_code" value="{% if request.POST.postal_code %}{{ request.POST.postal_code }}{% else %}{% if buyer.postal_code %}{{ buyer.postal_code }}{% endif %}{% endif %}">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <select id='id_country' name="country" maxlength="50" required class="form-control readonly_background"/>
                                    {% for code in countries %}
                                        <option value="{{ code.0 }}" {% if request.POST.country %}{% if request.POST.country == code.0 %}selected="selected"{% endif %}{% else %}{% if buyer.country == code.0 %}selected="selected"{% endif %}{% endif %} >{{ code.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer">
                    <div class="pull-left">
                        <a href="basket.html" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to basket</a>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Continue<i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.box -->
    </div>
    <div class="col-sm-3">
        <div class="box" id="order-summary">
            <div class="box-header">
                <h3>Order summary</h3>
            </div>
            <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Order subtotal</td>
                            <th><i class="fa fa-rupee">&nbsp;</i>{{ total_sum }}</th>
                        </tr>
                        <tr>
                            <td>Shipping and handling</td>
                            <th><i class="fa fa-rupee">&nbsp;</i>0.00</th>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <th><i class="fa fa-rupee">&nbsp;</i>0.00</th>
                        </tr>
                        <tr class="total">
                            <td>Total</td>
                            <th><i class="fa fa-rupee" style="font-weight: 700">&nbsp;{{ total_sum }}</i></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}

{% endblock %}
