{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="col-md-9" id="checkout">
        <div class="box text-center">
            <form method="post">
                {% csrf_token %}
                <h2>Select Payement Method</h2>
                <div class="content">
                    <div class="row" style="margin-top: 50px;">
                        <div class="col-sm-12">
                            <label class="radio-inline">
                                <input type="radio" name="pay_option" value="cod">CASH ON DELIVERY
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="pay_option" value="paytm">PAYTM
                            </label>
                        </div>    
                    </div>
                </div>
                <div class="box-footer">
                    <div class="pull-left">
                        <a href="basket.html" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to basket</a>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Continue<i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="box" id="order-summary">
            <div class="box-header">
                <h3>Order summary</h3>
            </div>
            <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Order subtotal</td>
                            <th><i class="fa fa-rupee">&nbsp;</i>{{ total_sum }}</th>
                        </tr>
                        <tr>
                            <td>Shipping and handling</td>
                            <th><i class="fa fa-rupee">&nbsp;</i>0.00</th>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <th><i class="fa fa-rupee">&nbsp;</i>0.00</th>
                        </tr>
                        <tr class="total">
                            <td>Total</td>
                            <th><i class="fa fa-rupee" style="font-weight: 700">&nbsp;{{ total_sum }}</i></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}
<script type="text/javascript">
    
</script>

{% endblock %}
