{% extends 'base.html' %}
{% load staticfiles %}

{% block content %} 
<style type="text/css">
    body{
        background-image: url({% static 'images/background_profile.jpg' %});
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style> 

<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb profile-block" style="margin-top: -5px;">
            <li><a href="/">Home</a>
            </li>
            <li>My Favorite Designs</li>
        </ul>
    </div>
    <div class="col-md-3" style="margin-top: 10px">
        {% include "buyer/base_buyer.html" %}
    </div>

    <div class="col-md-9" style="margin-top: 10px;">
        <div class="box" style="background-color: #f5f5f5;">
            {% for request in my_requests %}
                <div class="article-card" style="padding: 13px; margin-bottom: 15px">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{ request.design_image.url }}" style="height: 200px; width: 170px;"><br>
                            <div style="margin-top: 5px;">
                                <label><b>Requested Size :</b></label>{% for size in request.size.all %} {{ size.name }} {% if not forloop.last %},{% endif %} {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label><b>Title :</b></label> {{ request.title }}
                            <p class="description_truncate" style="text-align: justify;"><label><b>Description:</b></label>{{ request.description }}</p>
                        </div>
                        <div class="col-md-4">
                            <p>
                                <label><b>Requested Date :</b>&nbsp;<span class="text-muted">{{ request.created|date:"M d, Y" }}</span></label>
                            </p>
                            <span class="tag label label-info" style="font-size: 15px;">Requested Price: <i class="fa fa-rupee"> </i>{{ request.price }}</span><br>
                            <p style="margin-top: 15px; font-size: 18px;">
                                <label><b>Order Status</b></label>
                            </p>
                            {% if request.request_status == "Pending" %}
                                <span class="tag label label-success" style="font-size: 15px;">{{ request.request_status }}</span>
                            {% elif request.request_status == "Accepted" %}
                                <span class="tag label label-info" style="font-size: 15px;">{{ request.request_status }}</span>
                            {% elif request.request_status == "Rejected" %}
                                <span class="tag label label-danger" style="font-size: 15px;">{{ request.request_status }}</span>
                                <div style="margin-top: 20px; text-align: justify; color: grey;">
                                    <small><b>Reason:</b>&nbsp{{ request.reject_reason }}</small>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: -22px;">
                            <small class="text-muted pull-right hidden-xs" style="margin-right: 68px;"><b>Dsesigner Name: {{ request.designer }}</b></small>
                            <small class="text-muted pull-right visible-xs"><b>Dsesigner Name: {{ request.designer }}</b></small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>    
    </div>
</div>
{% endblock %} 

{% block javascript %}
    <script src="{% static 'js/jquery.jtruncate.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
         
        $('.description_truncate').jTruncate({
            length: 340,
            minTrail: 0,
            moreText: "Show More",
            lessText: "Less",
            ellipsisText: "...",
            moreAni: "",
            lessAni: ""
        });
    });
   
    </script>

{% endblock %}


