{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
    .emptycart{
        width:150px;
        height:120px;
        left:50%;
        top:50%;
        margin: 100px 0 0 474px;
    }
</style>
<div class="container">
    <div class="col-md-10 col-md-offset-1" id="basket">
        {% for order in order_items %}
            <div class="box">
                <div class="panel panel-default">
                    <div class="panel-body" style="background-color: #f0f0f0">
                        <strong style="background-color: #2874f0; color: #fff; border-radius: 2px; padding: 7px;">Order Id: FASHCELIO{{ order.id }}</strong>
                        <a href="{% url 'order_detail' order.id %}" style="cursor: pointer;">
                        <span class="pull-right" style="background-color: #fff; border-radius: 2px; margin-top: -4px; padding: 5px; border: 1px solid #ACACAC"><span class="fa fa-map-marker" style="color: #2874f0">&nbsp;&nbsp;Track</span></span>
                        </a>
                    </div>
                    <hr style="margin-top: 0px; border-width: 1px; border-color: #ddd">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <a href="{% url 'product_details' order.design.name|slugify order.design.id %}">
                                    <img src="{{ order.design.avatar.url }}" class="hidden-xs" alt="White Blouse Armani" style="height: 70px; width: 70px; margin-top: -15px;">
                                    <img src="{{ order.design.avatar.url }}" class="visible-xs" alt="White Blouse Armani" style="height: 50px; width: 50px; margin-top: -15px;">
                                </a>
                            </div>
                            <div class="col-xs-4" style="margin-top: -15px">
                                <a href="{% url 'product_details' order.design.name|slugify order.design.id %}" style="margin-top: -15px">
                                    <span><strong>{{ order.design.name }}</strong></span><br>
                                </a>
                                <h5><b>Size:</b>&nbsp;{{ order.size }}</h5>
                                <small class="text-muted">Designer: {{ order.design.designer }}</small>
                            </div>
                            <div class="col-xs-4" style="margin-top: -15px">
                                <span><strong>Payment: {{ order.order.order_status }}</strong></span><br>
                                {% if order.order.order_status == "Success" %}
                                    {% if order.order_item_status == "Requested" %}
                                    <small class="text-muted">Your order item has been successfully placed</small>
                                    {% elif order.order_item_status == "OutForDelivery" %}
                                    <small class="text-muted">Your order item has been out for delivery</small>
                                    {% elif order.order_item_status == "Delivered" %}
                                    <small class="text-muted">Your order item has been delivered.</small>
                                    {% endif %}
                                {% endif %}    
                            </div>    
                        </div>      
                    </div>
                    <hr style="margin-top: 0px; border-width: 1px; border-color: #ddd">
                    <div class="panel-body">
                        <span class="pull-left text-muted" style="margin-top: -20px;">Orderded On: {{ order.created }}</span>
                        <span class="pull-right text-muted hidden-xs" style="margin-top: -20px;">Order Total: {{ order.unit_price }}</span>
                        <span class="pull-left text-muted visible-xs" style="margin-top: 10px;">Order Total: {{ order.unit_price }}</span>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-md-12">
                <img class="emptycart" src="{% static 'images/cart-empty.png' %}">
                <div class="row" style="margin-top: 10px;">
                    <h3 style="text-align: center;">You haven't placed any oder yet</h3>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <h4 style="text-align: center;"><a href="/all-designs/">Add items to cart</a></h4>
                </div>
            </div>  
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
