{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
   .verticalLine {
        border-left: 1px solid #ddd;
        height: 100%
    }
</style>
<div class="container">
    <div class="col-md-12">
        <div class="box">
            <div class="row vdivide">
                <div class="col-md-5">
                    <p class="text-muted" style="font-size: 17px;">ORDER DETAILS</p>
                    <p class="text-muted">Order ID<span style="margin-left: 30px; color: black">FASHCELIO{{ order_item.id }}</span></p>
                    <p class="text-muted">Order Date<span style="margin-left: 30px; color: black">{{ order_item.created }}</span></p>
                    <p class="text-muted">Amount Paid<span style="margin-left: 30px; color: black">₹ {{ order_item.unit_price }} through
                        {% if order_item.order.payement_method == "COD" %}
                            Cash on delivery
                        {% else %}
                            Paytm
                        {% endif %}    
                    </span></p>
                </div>
                <div class="col-md-4">
                    <p class="text-muted" style="font-size: 17px;">ADDRESS</p>
                    <p style="font-weight: bold;">{{ order_item.order.first_name }}&nbsp;{{ order_item.order.last_name }}</p>
                    <p>{{ order_item.order.address|title }}</p>
                    <p style="margin-top: -10px;">{{ order_item.order.city }},&nbsp;{{ order_item.order.state }}-{{ order_item.order.postal_code }}</p>
                </div>
                <div class="col-md-3">
                    <p class="text-muted" style="font-size: 17px;">MANAGE ORDER</p>
                    <i class="fa fa-file-o" aria-hidden="true" style="font-size: 30px; color: lightgrey"></i><span style="margin-top: -10px; margin-left: 10px; color: lightgrey; font-weight: bold;">REQUEST INVOICE &nbsp;<i class="fa fa-question-circle" aria-hidden="true" style="font-size: 20px; color: lightgrey"></i></span>
                    <p style="margin-top: 20px;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 20px; color: lightgrey"></i><a href="/contact-us/" style="font-weight: bold; margin-left: 10px;">NEED HELP ?</a></p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="row">
                <div class="col-md-2 col-xs-5">
                   <a href="{% url 'product_details' order_item.design.name|slugify order_item.design.id %}"><img src="{{ order_item.design.avatar.url }}" style="height: 80px; width: 80px;"></a>
                </div>
                <div class="col-md-4 col-xs-6">
                    <p><a href="{% url 'product_details' order_item.design.name|slugify order_item.design.id %}">{{ order_item.design.name }}</a></p>
                    <h5><b>Size:</b>&nbsp;{{ order_item.size }}</h5>
                    <h6 class="text-muted">Designer: {{ order_item.design.designer }}</h6>
                </div>    
                <div class="col-md-4 col-xs-12">
                    <p>Order Status</p>
                    {% if order_item.order_item_status == "Requested" %}
                        <button type="button" class="btn btn-success">Ordered</button>
                    {% elif order_item.order_item_status == "OutForDelivery" %}
                        <button type="button" class="btn btn-warning">Out For Delivery</button>
                    {% elif order_item.order_item_status == "Delivered" %}
                        <button type="button" class="btn btn-primary">Delivered</button>    
                    {% endif %}
                </div>
                <div class="col-md-2 col-xs-12">
                    <p><b>₹ {{ order_item.unit_price }}</b></p>
                    <p><b><a href="{% url 'product_details' order_item.design.name|slugify order_item.design.id %}">Rate and Review</a></b></p>
                </div>  
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left">
                        Delivery Date <span style="margin-left: 30px;">{% if order_item.delivery_day  %}{{ order_item.delivery_day }} {% else %} Not Available {% endif %}</span>
                    </div>
                    <div class="pull-right">
                        Total <span style="margin-left: 30px;">₹ {{ order_item.unit_price }}</span>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
