{% extends 'base.html' %}
{% load staticfiles %}

{% block content %} 
<style type="text/css">
    body{
        background-image: url({% static 'images/background_profile.jpg' %});
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style> 

<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb profile-block" style="margin-top: -5px;">
            <li><a href="/">Home</a>
            </li>
            <li>Profile</li>
        </ul>
    </div>
    <div class="col-md-3" style="margin-top: 10px">
        {% include "buyer/base_buyer.html" %}
    </div>
    <div class="col-md-9" style="margin-top: 10px;">
        <div class="box">
        	<div class="row">
	        	<div class="col-md-3">
	        		<div class="profile-block">
	        			<img src="{% if buyer.avatar %}{{ buyer.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" height="200" width="140" style="border-radius: 5px;">
	        		</div>
	        	</div>
	        </div>	
        </div>
    </div>
</div>    

{% endblock %}