{% extends 'base.html' %}
{% load staticfiles %}

{% block content %} 
    <style type="text/css">
        body{
            background-image: url({% static 'images/background_regis.jpg' %});
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style> 
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="box">
                <form id="signup_form" role="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
                                <label for="id_first_name"><strong>First Name</strong></label>
                                {{ form.first_name }}
                                <small class="es-error">{{ form.first_name.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">    
                        <div class="col-md-12">
                            <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
                                <label for="id_last_name"><strong>Last Name</strong></label>
                                {{ form.last_name }}
                                <small class="es-error">{{ form.last_name.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                <label for="id_email"><strong>Email</strong></label>
                                {{ form.email }}
                                <small class="es-error">{{ form.email.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">    
                        <div class="col-md-12">
                            <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                                <label for="id_password"><strong>Password</strong> </label>
                                {{ form.password }}
                                <small class="es-error">{{ form.password.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>    
                    <div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    
{% endblock %}

{% block javascript %}


    <script type="text/javascript">

    </script>

{% endblock %}
