{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi {{ first_name }} {{ last_name }},</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Thank You for taking the time to contact us. We will be in touch shortly.
</p>
    Thanks,<br/>
    Fashion Celio
</p>
{% endblock %}
