{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi Team,</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    We have received a new query, Please get the details below:
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Name:</strong> {{ first_name }} {{ last_name }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Phone No:</strong> {{ phone_no }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Email:</strong> {{ email }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Message:</strong> {{ message }}</p>
<p style="font-size:16px; font-family:sans-serif; line-height: 21px;">
    Thanks,<br/>
    Fashion Celio
</p>
{% endblock %}
