{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:17px; font-family:sans-serif; margin-bottom:15px;">Hi {{ request.buyer.user.get_full_name }},</p>
<p style="font-size:15px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Your design <b>{{ request.title }}</b> with size <b>{% for size in request.size.all %} {{ size.name }} {% if not forloop.last %},{% endif %} {% endfor %}</b> has been accepted by <b>{{ request.designer.user.get_full_name }}</b> at Rs <b>{{ request.price }}</b>
</p>
<p style="font-size:15px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    You can now contact with the designer at <b>{{ request.designer.user.email }}</b> for futher process.
</p>
    Thanks,<br/>
    Fashion Celio
</p>
{% endblock %}