{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:17px; font-family:sans-serif; margin-bottom:15px;">Hi {{ request.buyer.user.get_full_name }},</p>
<p style="font-size:15px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Your design <b>{{ request.title }}</b> with size <b>{% for size in request.size.all %} {{ size.name }} {% if not forloop.last %},{% endif %} {% endfor %}</b> has been Rejected by <b>{{ request.designer.user.get_full_name }}</b> .
</p>
<p style="font-size:15px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    <b>Reason:</b> {{ request.reject_reason }}
</p>

    Thanks,<br/>
    Fashion Celio
</p>
{% endblock %}