{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi {{ designer.user.first_name }},</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    We have created an account for you. Please get the login details below:
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    <strong>Email:</strong> {{ designer.user.email }}<br/>
    <strong>Password:</strong> {{ password }}
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Note: You can't login until your account is verfied and activated by the admin.<br>
    <small>We will let you know via email once you account is activated.</small>
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Thanks,<br/>
    Fashion Celio Team
</p>
{% endblock %}

