{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi {{ design_request.designer.user.first_name }},</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    You have received a new design request and their details are as below:
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Title:</strong> {{ design_request.title }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Description:</strong> {{ design_request.description }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Discipline:</strong> {{ design_request.price }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Size:</strong> {% for size in design_request.size.all %} {{ size.name }} {% endfor %}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;">Please find the design as attachment!</p>
<p style="font-size:16px; font-family:sans-serif; line-height: 21px;">
    Thanks,<br/>
    FashionCelio Team
</p>
{% endblock %}
