{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:15px; font-family:sans-serif; margin-bottom:15px;">Hi, {{ order.buyer.user.get_full_name }}</p>
<p style="font-size:13px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Your Order has been successfully placed. 
</p>
<p style="font-size:13px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
	You have following items in your cart.
</p>


{% for items in order_item %}
<p style="background-color: #ddd; padding: 6px; font-size: 13px;">{{ items.design.name }} of size ({{ items.size }}) at  ₹{{ items.design.price }}</p>
{% endfor %}
  
<hr>
<p style="font-size:13px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Payment Details:
</p>
<p style="font-size:13px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
<strong>Payment</strong>- {{ order.payement_method }} on Delivery ₹ {{ order.total_price }}

<p style="font-size:13px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Thanks,<br/>
    Fashion Celio
</p>
{% endblock %}

