
{% block content %}

<div class="container">
    <div class="col-sm-12 text-center" style="text-align: center; vertical-align: middle;">
       <h2>Please Logout as an admin</h2>
       <a href="/logout">Logout</a>
    </div>
</div>    
{% endblock %}
{% block javascript %}

{% endblock %}