{% extends 'base.html' %}
{% load staticfiles %}
{% load sorting_tags %}


{% block content %}
<style type="text/css">
    .bootstrap-tagsinput{
        min-height: 45px;
        max-width: 70%;
        min-width: 70%;
    }

    input[type=checkbox]
    {
      -ms-transform: scale(1.2); /* IE */
      -moz-transform: scale(1.2); /* FF */
      -webkit-transform: scale(1.2); /* Safari and Chrome */
      -o-transform: scale(1.2); /* Opera */
      padding: 5px;
    }
</style>
 
<div class="container">
    <div id="id_no_result_alert" style="display: none;">
        <div class="message-alert" style="text-align: center; position: relative; z-index: 999; width:100%;margin-bottom:10px">
            <div class="alert alert-danger alert-dismissible text-center" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" style="right:20px;">&times;</a>
                <span>Sorry, no results found! Please try searching for something else</span>
            </div>
        </div>
    </div>
</div>

<!--Desktop view -->
<div class="container">    
    <div class="row hidden-xs">
        <div class="col-sm-3" style="margin-top: 3px;">
            <div class="col-md-12">
                <form method="GET" action="" id="id_design_search" onsubmit="show_loader()">
                    <div class="row">
                        <h4><strong>Filter</strong></h4>
                        <hr style="margin-top: -6px; border-color: lightgrey;">
                    </div>
                    <div class="modal-overlay" id="id_processing" style="position: fixed;">
                        <img src="{% static 'images/spin.svg' %}"/>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <h5><strong>Gender</strong></h5>
                            <div class="checkbox" style="margin-bottom: 14px;">
                                <label><input type="checkbox" {% if 'Men' in gender %}checked="checked"{% endif %} name="gender" value="Men">&nbsp;Men</label>
                            </div>
                            <div class="checkbox" style="margin-bottom: 14px;">
                                <label><input type="checkbox" {% if 'Women' in gender %}checked="checked"{% endif %} name="gender" value="Women">&nbsp;Women</label>
                            </div>
                            <div class="checkbox" style="margin-bottom: 14px;">
                                <label><input type="checkbox" {% if 'Boys' in gender %}checked="checked"{% endif %} name="gender" value="Boys">&nbsp;Boys</label>
                            </div>
                            <div class="checkbox" style="margin-bottom: 14px;">
                                <label><input type="checkbox" {% if 'Girls' in gender %}checked="checked"{% endif %} name="gender" value="Girls">&nbsp;Girls</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h5><strong>Categories</strong></h5>
                        <input class="form-control" id="id_design_type" name="design_type" value="" type="text">
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <h5><strong>Size</strong></h5>
                        {% for name in size_list %}
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="checkbox-inline" style="margin-bottom: 5px;">
                                        <label>
                                            <input type="checkbox" {% if name in size %}checked="checked"{% endif %} name="size" id="id_name" value="{{ name }}">&nbsp;{{ name }}
                                        </label>
                                    </div>
                                </div>    
                            </div>    
                        {% endfor %}
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <h5><strong>Top Designers</strong></h5>
                        {% for designer in all_designers %}
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" {% if designer.user.username in designer_list %}checked="checked"{% endif %} name="designer" id="id_designer" value="{{ designer.user.username }}">&nbsp;<img src="{% if designer.avatar %}{{ designer.avatar.url }}{% else %}{% static 'images/nodp.jgp' %}{% endif %}" height="30" width="30" style="border-radius: 50px; margin-top: -5px;">&nbsp;&nbsp;{{ designer.user.get_full_name }} 
                                        </label>
                                    </div>
                                </div>    
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <h5><strong>Price</strong></h5>

                        <div class="checkbox" style="margin-bottom: 14px;">
                            <label><input type="checkbox" {% if 'a' in price %}checked="checked"{% endif %} name="price" value="a" id="">&nbsp;0 - 500</label>
                        </div>
                        <div class="checkbox" style="margin-bottom: 14px;">
                            <label><input type="checkbox" {% if 'b' in price %}checked="checked"{% endif %} name="price" value="b" id="">&nbsp;500 - 1000</label>
                        </div>
                        <div class="checkbox" style="margin-bottom: 14px;">
                            <label><input type="checkbox" {% if 'c' in price %}checked="checked"{% endif %} name="price" value="c" id="">&nbsp;1000 - 1500</label>
                        </div>
                        <div class="checkbox" style="margin-bottom: 14px;">
                            <label><input type="checkbox" {% if 'd' in price %}checked="checked"{% endif %} name="price" value="d" id="">&nbsp;1500 - 5000</label>
                        </div>
                         <div class="checkbox">
                            <label><input type="checkbox" {% if 'e' in price %}checked="checked"{% endif %} name="price" value="e" id="">&nbsp;5000 and above</label>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" style="height: 40px; width: 140px;"><i class="fa fa-search" aria-hidden="true"></i>Search</button>
                        </div>
                    </div>    
                </form>
            </div>      
        </div>
        {% auto_sort all_designs %}
        <div class="col-sm-9" id="wishlist" style="margin-top: 10px">
            <div class="row" style="color: black;">
                <div class="col-md-12">
                    <div class="pull-right">
                        <small style="color: black">
                            Sort: <span onclick="" style="cursor: pointer;">{% sort_link 'Popular' 'no_of_views' %}</span> | <span onclick="" style="cursor: pointer;">{% sort_link 'New' 'modified' %}</span>  | Price: <span onclick="" style="cursor: pointer;">{% sort_link 'Low' 'price' %}</span> <span onclick="" hre style="cursor: pointer;">{% sort_link 'High' '-price' %}</span>
                        </small>
                    </div>
                    <hr style="margin-top: 25px;">
                </div>    
            </div>
            <div class="row products">
                

                {% for designs in all_designs  %}
                    <div class="col-sm-3 img-hover" style="margin-bottom: 34px;">
                        <div style="text-align: center;">
                            <a href="{% url 'product_details' designs.name|slugify designs.id %}" style="text-decoration: none; cursor: pointer; color: black;">
                                <img src="{% if designs.avatar %}{{ designs.avatar.url }}{% endif %}" alt="" class="img-responsive" style="height: 240px; width: 181px; margin-bottom: 20px; border-radius: 1px;">
                                <h5><strong>{{ designs.name|title }}</strong></h5>
                                <h6><i class="fa fa-rupee"></i>{{ designs.price }}</h6>
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <div class="text-center">
                        <h3 class="text-center text-muted" style="color: lightgrey">No Designs Found</h3>
                        <a href="{% url 'fashion_home' %}" style="text-align: center; text-decoration: none;">Visit Our Website</a>
                    </div>    
                {% endfor %}        
            </div>
        </div>
    </div>
</div>

<!--Mobile view -->
<div class="container-fluid visible-xs">
    <div class="row">
        <div class="btn-group btn-group-justified" role="group" aria-label="">
            <div class="btn-group" role="group">
                <button id="add_more_student" type="button" class="btn btn-default btn-lg"><small class="text-muted"><i class="fa fa-sort" aria-hidden="true"></i> {% sort_link 'SORT' 'price' %}</small></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="edit_more_student" class="btn btn-default btn-lg" onclick="showFilter()"><small class="text-muted"><i class="fa fa-filter" aria-hidden="true"></i>FILTER</small></button>
            </div>
        </div>
    </div>
    <div class="row" id="mobile_filter" style="display: none;">
        <div class="col-xs-12">
            <form method="GET" action="" id="id_design_search" onsubmit="show_loader()">
                <div class="modal-overlay" id="id_processing" style="position: fixed;">
                    <img src="{% static 'images/spin.svg' %}"/>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <div class="col-xs-3">
                        <h6><input type="checkbox"  name="gender" value="Men">&nbsp;Men</h6>
                    </div>
                    <div class="col-xs-3">
                        <h6><input type="checkbox" name="gender" value="Women">&nbsp;Women</h6>
                    </div>
                    <div class="col-xs-3">
                        <h6><input type="checkbox" name="gender" value="Boys">&nbsp;Boys</h6>
                    </div>
                    <div class="col-xs-3">
                        <h6><input type="checkbox" name="gender" value="Girls">&nbsp;Girls</h6h6>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <input class="form-control" id="id_mb_design_type" name="design_type" placeholder="Type Categories to select" value="" type="text" style="padding-left: 20px; width: 100%!important">
                    </div>
                </div> 
                <hr>
                <div class="row">
                    <div class="col-xs-6" style="margin-left: 20px;">
                        {% for designer in all_designers %}
                            <div class="row">
                                <div class="checkbox  checkbox-inline">
                                    <h6>
                                        <input type="checkbox" {% if designer.user.username in designer_list %}checked="checked"{% endif %} name="designer" id="id_designer" value="{{ designer.user.username }}">&nbsp;<img src="{% if designer.avatar %}{{ designer.avatar.url }}{% else %}{% static 'images/nodp.jgp' %}{% endif %}" height="30" width="30" style="border-radius: 50px;">&nbsp;&nbsp;{{ designer.user.get_full_name }} 
                                    </h6>
                                </div>
                            </div>    
                        {% endfor %}
                    </div>    
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6" style="margin-left: 10px;">
                        <div class="checkbox" style="margin-bottom: 20px;">
                            <label><input type="checkbox"  name="price" value="a" id="">0 - 500</label>
                        </div>
                        <div class="checkbox" style="margin-bottom: 20px;">
                            <label><input type="checkbox" name="price" value="b" id="">500 - 1000</label>
                        </div>
                        <div class="checkbox" style="margin-bottom: 20px;">
                            <label><input type="checkbox" name="price" value="c" id="">1000 - 1500</label>
                        </div>
                        <div class="checkbox" style="margin-bottom: 20px;">
                            <label><input type="checkbox" name="price" value="d" id="">1500 - 5000</label>
                        </div>
                         <div class="checkbox">
                            <label><input type="checkbox" name="price" value="e" id="">5000 and above</label>
                        </div>
                    </div>    
                </div> 
                <div class="row" style="margin-top: 10px;">
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 50px;"><i class="fa fa-search" aria-hidden="true"></i>Search</button>
                    </div>
                </div>    
            </form>
        </div>      
    </div>
    <div class="row">
        <div class="box">
            <div class="row products">
                {% auto_sort all_designs %}

                {% for designs in all_designs  %}
                    <div class="col-xs-6 img-hover" style="margin-bottom: 34px;">
                        <div style="text-align: center;">
                            <a href="{% url 'product_details' designs.name|slugify designs.id %}" style="text-decoration: none; cursor: pointer; color: black;">
                                <img src="{% if designs.avatar %}{{ designs.avatar.url }}{% endif %}" alt="" class="img-responsive" style="height: 200px; width: 181px; margin-bottom: 20px; border-radius: 1px;">
                                <h6><strong>{{ designs.name|title }}</strong></h6>
                                <h6><i class="fa fa-rupee"></i>{{ designs.price }}</h6>
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <div class="text-center">
                        <h3 class="text-center text-muted" style="color: lightgrey">No Designs Found</h3>
                        <a href="{% url 'fashion_home' %}" style="text-align: center; text-decoration: none;">Visit Our Website</a>
                    </div>    
                {% endfor %}        
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput-typeahead.css' %}">
{% endblock %}

{% block javascript %}

    <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
    <script src="{% static 'js/bloodhound.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>
    <script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
    <script type="text/javascript">

    function showFilter() {
        var target = $('#mobile_filter');
        if (target.css('display') == 'none') {
            $("#mobile_filter").show(800)
        } else {
            $("#mobile_filter").hide(800)

        }
    }
    // function sortByLatest() {
    //     var 
    //     $.ajax({
    //         url: "/designer/fashion_home/",
    //         type: "POST",
    //         data: {
    //             'csrfmiddlewaretoken': '{{ csrf_token }}',
    //             'sort_by_latest' : "-created",
    //         },
    //         success: function(response){
    //             response = JSON.parse(response);
    //             debugger;
    //             if (response.status) {
    //                 console.log("here");
    //             }
    //         }
    //     });
    //     return false;
    // }

    function show_loader(){
        $("#id_processing").show();
    }
    {% if no_result %}
        $('#id_no_result_alert').show();
    {% endif %}

    $(function(){
        var types_obj = new Bloodhound({
            datumTokenizer: function (datum) {
                return Bloodhound.tokenizers.whitespace(datum.id);
            },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/designer/get-dress-types/?q=%QUERY',
                wildcard: '%QUERY',
                filter: function (results) {
                    return results
                }
            },
        });
        types_obj.initialize();

        var elt = $('#id_mb_design_type');
        elt.tagsinput({
            freeInput:true,
            typeaheadjs: {
                name: 'title',
                limit: 20,
                source: types_obj.ttAdapter()
            }
        });
            
    });
    
    {% for types in design.design_type.all %}
        $('#id_mb_design_type').tagsinput('add', "{{ types.types }}");
    {% endfor %}

    $(function(){
        var types_obj = new Bloodhound({
            datumTokenizer: function (datum) {
                return Bloodhound.tokenizers.whitespace(datum.id);
            },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/designer/get-dress-types/?q=%QUERY',
                wildcard: '%QUERY',
                filter: function (results) {
                    return results
                }
            },
        });
        types_obj.initialize();

        var elt = $('#id_design_type');
        elt.tagsinput({
            freeInput:true,
            typeaheadjs: {
                name: 'title',
                limit: 20,
                source: types_obj.ttAdapter()
            }
        });
            
    });
    
    {% for types in design.design_type.all %}
        $('#id_design_type').tagsinput('add', "{{ types.types }}");
    {% endfor %}

    </script>

{% endblock %}
