{% load staticfiles %}

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
        <title>Fashion Celio</title>

        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
        <link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.blue.css' %}">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
        <script src = "{% static 'js/respond.min.js' %}"></script>
        <link rel="shortcut icon" href="{% static 'images/favicon_icon.gif' %}"/>

        {% block head %}{% endblock %}
    
    </head>
    <body style="background-color: white;">
        <div id="top" style="position: fixed; z-index: 9999; width: 100%">
            <div class="container">
                <div class="col-xs-12" data-animate="fadeInDown">
                    {% if not request.user.is_authenticated %}
                        <ul class="menu">
                            <li><a href="{% url 'user_login' %}">Login</a>
                            </li>
                            <li><a href="{% url 'register' %}">Sign Up</a>
                            </li>
                            <li><a href="{% url 'contact_us' %}">Contact Us</a>
                            </li>
                            <li><a href="{% url 'registration' %}">Join as Designer</a>
                            </li>
                        </ul>
                    {% else %}
                        <div class="pull-right hidden-xs">
                            <a href="{% if role == 'designer' %}{% url 'profile' request.user.username %}{% else %}{% url 'buyer_profile' request.user.username %}{% endif %}" style="text-decoration: none;">Welcome, {{ request.user.get_full_name }}
                        </div>
                        <div class="pull-right visible-xs">
                            <a href="{% if role == 'designer' %}{% url 'profile' request.user.username %}{% else %}{% url 'buyer_profile' request.user.username %}{% endif %}" style="text-decoration: none;">Welcome, {{ request.user.get_full_name }}
                        </div>
                    {% endif %}     
                </div>
            </div>
        </div>
        <div class="navbar navbar-default yamm" role="navigation" id="navbar" style="position: fixed; width: 100%; z-index: 1; margin-top: 38px;">
            {% if not request.user.is_authenticated %}
            <span class="visible-xs" style="margin-top: 10px;"></span>
            {% endif %}
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand home" href="/">
                        <img src="{% static 'images/fashion_celio.png' %}" alt="Obaju logo" class="hidden-xs" height="60" width="140" style="margin-top: -4px;">
                        <img src="{% static 'images/fashion_celio.png' %}" alt="Obaju logo" class="visible-xs" height="56" width="127"><span class="sr-only">Obaju - go to homepage</span>
                    </a>
                    <div class="navbar-buttons">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                            <span class="sr-only">Toggle search</span>
                            <i class="fa fa-search"></i>
                        </button>
                        {% if not role == "designer" %}
                        <a class="btn btn-default navbar-toggle" href="{% url 'my_carts' %}">
                            <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">0 items in cart</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <!--/.navbar-header -->
                <div class="navbar-collapse collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-left">
                        <li class=""><a href="{% url 'fashion_home' %}">All Design</a>
                        </li>
                        <li class="dropdown yamm-fw">
                            <a href="/all-designs/?gender=Men&gender=Boys">Men</b></a>
                        </li>
                        <li class="dropdown yamm-fw">
                            <a href="/all-designs/?gender=Women&gender=Girls">Women</b></a>
                        </li>
                        {% if request.user.is_authenticated  %}
                            <li class="dropdown yamm-fw">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Accounts <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h5>Settings</h5>
                                                    <ul>
                                                        <li><a href="{% if role == 'designer' %}{% url 'profile' request.user.username %}{% else %}{% url 'buyer_profile' request.user.username %}{% endif %}">View Profile</a>
                                                        </li>
                                                        <li><a href="{% if role == 'designer' %}{% url 'edit_designer' %}{% else %}{% url 'edit_buyer' %}{% endif %}">Edit Profile</a>
                                                        </li>
                                                        <li><a href="{% url 'change_password' %}">Change password</a>
                                                        </li>
                                                        <li><a href="#">Financial Activities</a>
                                                        </li>
                                                        <li><a href="{% url 'logout' %}">Logout</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                {% if role == "buyer" %}
                                                    <h5>My stuff</h5>
                                                    <ul>
                                                        <li><a href="{% url 'my_recent_views' %}">Recently Viewed Design</a>
                                                        </li>
                                                        <li><a href="{% url 'my_favorites' %}">My Favorite</a>
                                                        </li>
                                                        <li><a href="{% url 'my_carts' %}">My Cart</a>
                                                        </li>
                                                        <li>
                                                            <a href="{% url 'requested_design' %}">Design Request</a>
                                                        </li>
                                                        <li><a href="{% url 'orders_list' %}">My Orders</a>
                                                        </li>
                                                    </ul>
                                                {% endif %}    
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if not role == "designer" %}
                        <li class="dropdown yamm-fw">
                            <a href="{% url 'design_request' %}">Get Personalised Design</b></a>
                        </li>
                        {% endif %} 
                    </ul>
                </div>
                <div class="modal-overlay" id="id_processing" style="position: fixed;">
                    <img src="{% static 'images/spin.svg' %}"/>
                </div>
                <div class="navbar-buttons">
                    {% if not role == "designer" %}
                        <div class="navbar-collapse collapse right" id="basket-overview">
                            <a href="{% url 'my_carts' %}" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">{{ cart_items_len }} items in cart</span></a>
                        </div>
                    {% endif %}
                    <div class="navbar-collapse collapse right" id="search-not-mobile">
                        <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                            <span class="sr-only">Toggle search</span>
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>

                <div class="collapse clearfix" id="search">
                    <form class="navbar-form" role="search" action="{% url 'fashion_home' %}" onsubmit="show_loader()"  method="Get">
                        <div class="input-group">
                                <input type="text" name="q" value="{{ query }}"  placeholder="Search Designs" autocomplete="off" class="form-control" style="height: 34px;">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="id_message_alert">
            {% if messages %}
                {% for message in messages %}

                <div class="message-alert" style="text-align: center; position: absolute; z-index: 999; width: 50%; left: 25%; margin-top: 50px;">
                    <div class="alert text-center alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span>{{ message }}</span>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <br>

        <!-- Main Content -->
        <div class="all" style="margin-top: 110px;">
            <div id="content" style="min-height: 500px; margin-bottom: 40px;">
                {% block content %}{% endblock %}
            </div>
        </div>
        <!-- End Content -->

        <div id="footer" data-animate="fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">            
                        <h5>Stay in touch</h5>
                        <p class="text-muted"></p>
                        <p class="social">
                            <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h5>Contact Us</h5>
                        <p class="text-muted">
                        Fashions Celio's 24*7 Customer Care Number is always at your service to help you with problem, you can contact us anytime.
                        +91 9828180758, &nbsp;&nbsp; +91 7073608539<br>
                        <i class="fa fa-envelope"></i>&nbsp; &nbsp;fashionbuddies14@gmail.com
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h5>Get the news</h5>
                        <p class="text-muted">
                        <form method="post" action="{% url 'newsletter' %}" role="form" onsubmit="return newsletter()" id="id_newsletter_form">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" name="email" style="height: 34px;">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Subscribe!</button>
                                </span>
                            </div>
                            <div id="id_email_error_newsletter" style="color: #a94442;" class="error_messages"></div>
                            <small id=response_news style="display: none;">Successfully Subscribed</small>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">© 2017 Fashion Celio</p>
                </div>
                <div class="col-md-6">
                    <p class="pull-right">Designed by <a href="/">Fashion Group</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- *** SCRIPTS TO INCLUDE ***
        _________________________________________________________ -->
        <script src = "{% static 'js/jquery-1.11.0.min.js' %}"></script>
        <script src = "{% static 'js/bootstrap.min.js' %}"></script>
        <script src = "{% static 'js/jquery.cookie.js' %}"></script>
        <script src = "{% static 'js/waypoints.min.js' %}"></script>
        <script src = "{% static 'js/modernizr.js' %}"></script>
        <script src = "{% static 'js/bootstrap-hover-dropdown.js' %}"></script>
        <script src = "{% static 'js/owl.carousel.min.js' %}"></script>
        <script src = "{% static 'js/front.js' %}"></script>
        <script type="text/javascript">
            $(".message-alert").fadeOut(9000);
            $('.dropdown-toggle').dropdown()
            function show_loader(){
                $("#id_processing").show();
            }
            function newsletter(){
                $('.error_messages').hide();
                $('.form-group').removeClass('has-error');
                $.ajax({
                    url: $('#id_newsletter_form').attr('action'),
                    type: $('#id_newsletter_form').attr('method'),
                    data: $('#id_newsletter_form').serialize(),
                    success: function(response){
                        response = JSON.parse(response);
                        if(response.status){
                            $("#response_news").show()
                        }else{
                            $('#id_email_error_newsletter').text(response.errors[0].error);
                            $('#id_email_error_newsletter').show();
                            $('#id_email_error_parent_div_newsletter').addClass('has-error');
                        }
                    }
                });
                return false;
            }
        </script>

        {% block javascript %}
        
        {% endblock %}
    </body>
</html>
